/* CSS Variables */
:root {
    --navbar-height: 59px;
    --spiner-border: #49424283;
    --primary-color: #cfdfdc;
    --secondry-color: #ff5823;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
}

#loading-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 15px; */
}

#loading-spinner {
    border: 8px solid var(--spiner-border);
    border-top: 8px solid var(--secondry-color);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 15px;
    animation: spin 1s linear infinite;
}

.loading {
    color: var(--secondry-color);
    font-size: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: blink 1s infinite;
    transition: all 1s ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

select {
    /* font-size: 30px; */
    background-color: #f2f2f2;
}

select, option {
    margin: 15px;
    font-size: 25px;
    color: #ff5823;
    /* background-color: var(--primary-color); */
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

option:hover{
    background-color: var(--secondry-color);
    color: var(--primary-color);
}

.box {
    border: 3px solid var(--secondry-color);
    color: var(--secondry-color);
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 30px;
    margin: 2px 20px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}

/* Contact Section */
#content {
    position: relative;
    background: rgba(0, 0, 0, 0.2);
}

#content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: url('../img/Logo.png') no-repeat center center/cover; */
}

#content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    /* padding: 15px; */
}

#content-box input,
#content-box textarea {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
    /* border-radius: 25px; */
    font-size: 1.5rem;
    outline: none;
    color: var(--secondry-color);
    transition: all 0.3s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#content-box input:focus,
#content-box textarea:focus {
    border-bottom: 3px solid var(--secondry-color);
}

#content-box form {
    width: 60%;
    padding: 25px;
    border-radius: 25px;
    background: #f2f2f2;
    border: 2px solid var(--secondry-color);
    /* backdrop-filter: blur(5px); */
}

#content-box label {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondry-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: var(--secondry-color);
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--secondry-color);
    border:  2px solid var(--secondry-color) ;
    transform: scale(1.2);
}

.btn-center {
    display: flex;
    align-items: center;
    /* align-items: center; */
    justify-content: center;
}

.btn-center a {
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        background-color: var(--primary-color);
    }

    .h-primary {
      font-size: 2rem;
    }
    
    #content{
        /* background-color: #ff5823; */
        margin: 0px;
    }
    
    #content-box form {
        width: 80%;
        /* background: red; */
    }

    option {
        font-size: 15px;
        margin: 5px;
    }

    .loading {
      font-size: 30px;
    }

    #content-box label, #content-box input {
      font-size: 1.5rem;
    }
  
    #loading-spinner {
      width: 50px;
      height: 50px;
    }
}